{{#primary_author}}
<section class="author-info w-60 md:w-160 text-left p-1 md:p-4 mx-auto">
  <h1 class="author-info__heading text-xl md:text-3xl font-bold m-8">About the author</h1>
  <div class="author-info__wrapper flex md:flex-row flex-col">
    {{#if profile_image}}
    <div class="author-info__avatar p-4 m-4">
      <img class="author-info__image w-20 h-20 border-red border-2 rounded-full mx-auto lazy"
        data-src="{{profile_image}}" alt="{{name}}’s Profile Image" />
    </div>

    {{/if}}
    <div class="author-info__info-wrapper">
      <div class="flex md:flex-row flex-col">
        <h4 class="author-info__name text-2xl inline-block">
          <a href="{{url}}">{{name}}</a>
        </h4>
        <span class=" hidden md:inline-flex md:items-center"><i class="fas fa-circle text-red-700 text-xs mx-4"></i></span>
        <span class="text-sm text-foreground-dark-1 md:inline-flex md:items-center">{{location}}</span>
        <span class="links mx-0 md:mx-4 md:inline-flex md:items-center">
          {{#if twitter}}
          <a href="{{twitter}}" class="mx-2 hover:text-red tooltip" title="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
          {{/if}}
          {{#if facebook}}
          <a href="{{facebook}}" class="mx-2 hover:text-red">
            <i class="fab fa-facebook"></i>
          </a>
          {{/if}}
          {{#if website}}
          <a href="{{website}}" class="mx-2 hover:text-red">
            <i class="fas fa-globe"></i>
          </a>
          {{/if}}
        </span>
      </div>

      {{#if bio}}
      <p class="author-info__bio mb0 mt-4">{{bio}}</p>
      {{/if}}
      <div class="mt-8">
        <a href="{{url}}" class="button">All articles</a>
      </div>
    </div>

  </div>

  </span> {{! end author meta }}
</section> {{! end author info }}
{{/primary_author}}