<header class="main-header mb-4" id="main-header">
  <div class="nav">
    <div class="p-1 md:p-8">
      {{#if @site.logo}}
      <a class="absolute top-0 left-0 m-4" href="{{@site.url}}">
        <img class="w-10 h-10 md:w-20 md:h-20 lazy" data-src="{{@site.logo}}" alt="{{@site.title}} Logo" />
      </a>

      {{/if}}


      <h1 class="main-header__blog-title text-6xl">
        <a class="heading-link" href="{{@site.url}}">{{@site.title}}</a>
      </h1>
      <h3 class="main-header__blog-description text-foreground-dark-1">
        {{@site.description}}
      </h3>

    </div>
    <nav class="w-full align-center text-title mt-2 text-md">
      {{navigation}}
    </nav>

    {{> notification }}
  </div>
</header>