<article class="post-teaser {{post_class}} w-4/5 sm:w-120 md:w-160 lg:w-240 mx-auto my-2 md:p-0" data-aos="fade-up">

  {{#if feature_image}}
  <div class="post-teaser__wrapper w-full sm:w-120 md:w-160 lg:w-240 mx-auto lazy">
    {{#if tags}}
    <div class="post-teaser__tags-container text-xs md:text-lg my-4 w-full flex align-start text-foreground-dark-1">
      <span class="post-teaser__meta__tags ">
        <!-- #{{tags separator=", #"}} -->
        <i class="fas fa-tags text-red-700 inline-block mx-2"></i>
        <span class="post-teaser__tags font-bold">
          {{tags limit="3" separator=", "}}
        </span>
      </span>
    </div>

    {{/if}}
    <div class=" post-teaser__thumbnail relative mx-auto w-full sm:w-120 sm:h-90 md:w-160 md:h-120 lg:w-240 lg:h-120 overflow-hidden  rounded-tl-large rounded-br-large text-center"
      id=" {{url}}-post-thumbnail">
      <a href="{{url}}">
        <img class="post-teaser__image block transform transition-all duration-500 w-full h-full  scale-100 lazy"
          data-src="{{img_url feature_image}}">

        <a class="feature_image_mask hidden md:block  m-4 absolute bottom-0 left-0 p-1 w-32 h-8 text-md font-bold rounded-large bg-red bg-opacity-100"
          href="{{url}}">Read more</a>
        <div
          class="comment-count-wrapper flex align-center justify-center absolute bottom-0 right-0 bg-red w-20 h-8 rounded-large m-4">
          <a href="{{url}}#comments">
            <i class="fas fa-comment m-2"></i><span class="disqus-comment-count my-1"
              data-disqus-url="{{@site.url}}{{url}}" data-disqus-identifier="{{comment_id}}">0</span>

          </a>
        </div>
      </a>
    </div>

    <div class="post-teaser__text-container w-full m-1 md:m-4 self-end">
      <header class="post-teaser__header text-2xl md:text-4xl">

        <h2 class="post-teaser__title">
          {{#if featured}}
          <i class="fas fa-star text-red-700"></i>
          {{/if}}
          <a class="post-teaser__post-title" href="{{url}}">
            {{title}}
          </a>
        </h2>
      </header>


    </div> <!-- end post-teaser__text-container -->
  </div>
  {{else}}
  <div class="post-teaser__text-container w-full m-1 md:m-4 self-end">

    <header class="post-teaser__header text-2xl md:text-4xl">

      <h2 class="post-teaser__title">
        {{#if featured}}
        <i class="fas fa-star text-red-700"></i>
        {{/if}}
        <a class="post-teaser__post-title" href="{{url}}">
          {{title}}
        </a>
      </h2>
    </header>


  </div>
  {{#if tags}}
  <div class="post-teaser__tags-container text-xs md:text-sm my-4 w-full sm:w-120 md:w-160 lg:w-240 mx-auto flex justify-center align-center text-foreground-dark-1">
    <span class="post-teaser__meta__tags ">
      <!-- #{{tags separator=", #"}} -->
      <i class="fas fa-tags text-red-700 inline-block mx-2"></i>
      <span class="post-teaser__tags font-bold">
        {{tags limit="3" separator=", "}}
      </span>
    </span>
  </div>
  {{/if}}
  <!-- end: .meta -->
  {{/if}}


  <div class="post-teaser__meta text-title  w-full text-sm flex items-center justify-center">
    <div class="post-teaser__meta-grid w-auto grid grid-cols-1 md:grid-cols-3 gap-1">
      <div class="post-teaser__author-info p-1">
        {{#primary_author}}
        <a href="{{url}}">
          <div class="flex w-full items-center justify-center">
            <span
              class="author-profile-image m-2 bg-cover bg-center md:border-red md:border-2 w-5 h-5 md:w-10 md:h-10 inline-block rounded-full lazy"
              data-src="{{profile_image}}"></span>
            <span class="font-bold text-sm md:text-lg">{{name}}</span>
          </div>
        </a>
        {{/primary_author}}
      </div>

      <div class="md:p-1 text-xs md:text-sm flex items-center justify-center text-foreground-dark-1">
        <i class="fas fa-calendar-alt text-red-700 m-2"></i>
        <time class="post-teaser__meta__date" datetime="{{date format='YYYY-MM-DD'}}">
          {{date format="MMMM Do, YYYY"}}.
        </time>
      </div>

      <div class="md:p-1 text-xs md:text-sm flex items-center justify-center text-foreground-dark-1">
        <i class="fas fa-clock text-red-700 m-2"></i>
        <span>{{reading_time}}</span>
      </div>
    </div>



  </div>

  <div class="post-teaser__excerpt w-full sm:w-120 md:w-160 mx-auto my-10">
    <p class="text-md md:text-xl">
      {{excerpt words="40"}}...
    </p>
  </div>

</article>