{{#if @labs.members}}
{{#if @member}}
<section class="email-optin-widget center-text">
  <small class="text-gray-600">
    Thanks for being a <em>{{@site.title}}</em> subscriber,
    {{#if @member.name}}
    {{@member.name}}
    {{else}}
    {{@member.email}}
    {{/if}}!
    <a href="#!" class="content-link" data-members-signout>Sign out</a>
  </small>
</section>

{{else}}

<section class="email-optin-widget center-text">
  <div class="text-xl my-4">Get new posts by email:</div>

  <form class="my-4" data-members-form="subscribe">
    <input data-members-email placeholder="Your email address" type="email" required="true" class="w-60 sm:w-120 md:w-160 bg-gray-700 rounded-large p-2" />
    <div class="my-4">
    <button class="button" type="submit"><span>Subscribe</span></button>

    </div>
    <div class="message-success" data-members-success>
    </div>

    <div class="message-error" data-members-error>
    </div>
  </form>

</section>
{{/if}}
{{else}}
{{#if @labs.subscribers}}
<section class="email-optin-widget center-text">
  <div style="margin-bottom: 0.5rem;"><small>Like what you see? Get new posts by email:</small></div>
  {{subscribe_form placeholder="Your email address"}}
</section>
{{/if}}
{{/if}}