{{!< default}}

{{> content-header}}

{{#author}}
<section class="author-info w-60 sm:w-120 md:w-160 text-left p-1 md:p-4 mx-auto">

  <div class="author-info__wrapper flex flex-col md:flex-row">
    {{#if profile_image}}
    <div class="author-info__avatar p-4 m-4">
      <img class="author-info__image w-24 h-24 border-red-500 border-2 rounded-full mx-auto lazy" data-src="{{profile_image}}"
        alt="{{name}}’s Profile Image" />
    </div>

    {{/if}}
    <div class="author-info__info-wrapper">
      <div class="flex sm:flex-row flex-col">
        <h4 class="author-info__name text-2xl inline-block">
          <a href="{{url}}">{{name}}</a>
        </h4>
        <span class=" hidden sm:inline-flex sm:items-center"><i class="fas fa-circle text-red-700 text-xs mx-4"></i></span>
        <span class="text-foreground-dark-1 sm:inline-flex sm:items-center">{{location}}</span>
        <span class=" hidden sm:inline-flex sm:items-center"><i class="fas fa-circle text-red-700 text-xs mx-4"></i></span>
        <span
          class="text-foreground-dark-1 sm:inline-flex sm:items-center">{{plural ../pagination.total empty=(t "0  Articles") singular=(t "1 Article") plural=(t "% Articles")}}</span>
        <span class="links mx-4 sm:inline-flex sm:items-center">
          {{#if twitter}}
          <a href="{{twitter}}" class="mx-2 hover:text-red-700">
            <i class="fab fa-twitter"></i>
          </a>
          {{/if}}
          {{#if facebook}}
          <a href="{{facebook}}" class="mx-2 hover:text-red-700">
            <i class="fab fa-facebook"></i>
          </a>
          {{/if}}
          {{#if website}}
          <a href="{{website}}" class="mx-2 hover:text-red-700">
            <i class="fas fa-globe"></i>
          </a>
          {{/if}}
        </span>
      </div>

      {{#if bio}}
      <p class="author-info__bio mb0 mt-4">{{bio}}</p>
      {{/if}}

    </div>

  </div>

  </span> {{! end author meta }}
</section> {{! end author info }}


{{/author}}

{{! The main content area on the homepage }}
<main class="content">

  {{! The tag below includes the post loop - partials/loop.hbs }}
  {{> "loop"}}

</main>