<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
  {{! Document Settings }}
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{! Makes IE support useful HTML5/CSS3 features }}
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{! Page Meta }}
  <title>{{meta_title}}{{#is "post, page"}} — {{@site.title}}{{/is}}</title>

  {{! Styles }}
  <link rel="stylesheet" type="text/css" href="{{asset "dist/main.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "dist/fontawesome.css"}}" />

  <script>
    // Theme Config, check the documentation before edit this file
    //var search_engine_key = 'a1b16dd401da3c22621de9dacc'; // example: e08514f918d175f017584aaf34
    //var search_api = "/ghost/api/v2/content/posts/?key=" + search_engine_key + "&limit=all&include=tags";
    var theme_config = {
      disqus_shortname: 'abhattacharyea', // You can create your own Disqus Comments here: https://disqus.com/admin/create/
    };   
  </script>
  {{! Ghost outputs important stuff with this tag }}
  {{ghost_head}}
</head>

<body class="{{body_class}}" id="body">

  {{! Everything else gets inserted here }}
  {{{body}}}

  {{! Site Footer }}
  {{> footer}}
  {{!-- Scripts for Members subscription --}}
  {{#if @labs.members}}
  <script>

    // Code for members notifications
    // Parse the URL parameter
    
  </script>
  {{/if}}

  {{! Ghost outputs important scripts with this, including the the content for the code injection pane }}
  {{ghost_foot}}
  <script src="{{asset "dist/bundle-min.js" }}"></script>

</body>

</html>