{{!< default}}

{{> content-header}}
<section class="tag-info w-60 sm:w-120 md:w-160 text-left p-4 my-4 mx-auto">
  {{#tag}}
  <div class="tag-info__wrapper flex flex-col md:flex-row justify-center">
    <div class="tag-info__avatar p-4 m-4 flex">
      <div class="m-4">
        {{#if feature_image}}

        <img class="tag-info__image w-24 h-24 border-red-500 border-2 rounded-full lazy" data-src="{{feature_image}}"
          alt="Image for {{name}}" />
        {{else}}
        <span class=""><i class="fas fa-tags block fa-2x"></i></span>
        {{/if}}
      </div>

      <div class="flex flex-col">
        <h4 class="tag-info__name text-2xl inline-block">
          {{name}}
        </h4>

        {{plural ../pagination.total empty=(t "0  Articles") singular=(t "1 Article") plural=(t "% Articles")}}
      </div>

    </div>


    {{#if description}}
    <div class="tag-info__info-wrapper">
      <p class="tag-info__bio mb0 mt-4">{{description}}</p>
    </div>
    {{/if}}
  </div>



  {{/tag}}
</section> {{! end author info }}


<main class="content">
  {{> "loop"}}
</main>