{{!< ../default}}
{{> main-header}}

{{#if @member.paid}}

  {{!-- Logged in, paying member: Redirect home --}}
  <script>window.location = '{{@site.url}}';</script>

{{else if @member}}

{{!-- Logged in, not paying: Check out --}}
<div class="checkout-form">
    <h1 class="checkout-title text-2xl md:text-5xl mt-8">Choose your subscription</h1>
    <p>Unlock full access to {{@site.title}} and see the entire library of members-only content & updates</p>
    <div class="checkout-box w-60 md:w-160 grid grid-cols-1 lg:grid-cols-2 mx-auto mt-4 gap-4 p-1 md:p-4">
        <div class="checkout-plan">
            <header class="checkout-plan-header">
                <h3 class="text-xl md:text-2xl">Monthly</h3>
                <span class="text-3xl md:text-6xl">{{@price.currency_symbol}}<strong>{{@price.monthly}}</strong></span> / month
            </header>
            <div class="checkout-plan-content text-sm md:text-base">
                <ul class="m-4  text-left">
                    <li><i class="fas fa-check-circle inline-block mr-4"></i>Full access to all private posts</li>
                    <li><i class="fas fa-check-circle inline-block mr-4"></i>Regular updates with new content</li>
                    <li><i class="fas fa-check-circle inline-block mr-4"></i>Support independent publishing</li>
                    <li><i class="fas fa-check-circle inline-block mr-4"></i>Simple, secure card payment</li>
                </ul>
                <a class="button primary fit" href="javascript:void(0)" data-members-plan="Monthly">Choose this plan</a>
            </div>
        </div>
        <div class="checkout-plan yearly">
            <header class="checkout-plan-header">
                <h3 class="text-xl md:text-2xl">Yearly</h3>
                <span class="text-3xl md:text-6xl">{{@price.currency_symbol}}<strong>{{@price.yearly}}</strong></span> / year
            </header>
            <div class="checkout-plan-content text-sm md:text-base">
                <ul class="m-4  text-left">
                    <li><i class="fas fa-check-circle inline-block mr-4"></i>Full access to all private posts</li>
                    <li><i class="fas fa-check-circle inline-block mr-4"></i>Regular updates with new content</li>
                    <li><i class="fas fa-check-circle inline-block mr-4"></i>Support independent publishing</li>
                    <li><i class="fas fa-check-circle inline-block mr-4"></i>Simple, secure card payment</li>
                    <li><i class="fas fa-check-circle inline-block mr-4 text-red"></i>One easy payment instead of 12!</li>
                </ul>
                <a class="button primary fit" href="javascript:void(0)" data-members-plan="Yearly">Choose this plan</a>
            </div>
        </div>
    </div>
</div>

{{else}}
<section class="email-optin-widget center-text">
  <div class="text-xl my-8">Signup to {{@site.title}}</div>

  <form class="my-4 signup-form" data-members-form="signup">
    <input data-members-email placeholder="Your email address" type="email" required="true" class="w-60 md:w-96 bg-selection rounded-large p-2" />
    <div class="my-4">
    <button class="button" type="submit"><i class="fas fa-spinner fa-spin inline-block mr-4"></i><span>Subscribe</span></button>

    </div>
    <div class="message-success"><strong>Great!</strong> Check your inbox and click the link to complete subscription</div>
    <div class="message-error">Please enter a valid email address!</div>
  </form>

</section>

{{/if}}
